header#top.navbar.navbar-static-top.bs-docs-nav(role='banner')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="{{ pathTo 'home' }}") Blog
    nav.collapse.navbar-collapse.bs-navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="{{ pathTo 'postsIndex' }}") Posts
        li
          a(href='/') Authors
        li
          a(href='/') About
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Sign up
        li
          a(href='/') Sign in
