meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

link(rel="icon", href="/favicon.ico")
link(rel="apple-touch-icon", href="/apple-touch-icon.png")

title Blog
