form#post-form
  .form-group
    label(for="post-title") Title
    input#post-title.form-control(type="text", value="#{title}", name="title", placeholder="Title of the post")
  .form-group
    label(for="post-content") Content
    textarea#post-content.form-control(type="text", name="content", placeholder="Content of the post", rows="5") !{content}
  button.btn.btn-primary(type="submit")
    +if _id
      | Update Post
    +else
      | Create Post
