+contentFor 'pageTitle'
  | #{ pageTitle }
+contentFor 'pageDescription'
  | #{ pageDescription }

+each posts
  h1
    a(href="/posts/#{ _id }") #{title}
  p.lead #{createdAt}
  p !{ content }
  .pull-right
    a.post-destroy.btn.btn-danger.btn-xs(href="#") <i class="glyphicon glyphicon-trash"></i> Remove
    a.btn.btn-warning.btn-xs(href="{{ pathTo 'postEdit' _id }}") <i class="glyphicon glyphicon-pencil"></i> Edit
  .clearfix
+else
  p No posts yet...
