+contentFor 'pageTitle'
  | Post
+contentFor 'pageDescription'
  | One single post

h1 #{ title }
p.lead #{ createdAt }
p !{ content }
.pull-right
  a.post-destroy.btn.btn-danger.btn-xs(href="#")
    +icon(class="trash") Remove
  a.btn.btn-warning.btn-xs(href="{{ pathTo 'postEdit' _id }}")
    +icon(class="pencil") Edit
.clearfix
